@import "../../index";

.modal-parent {
    cursor: default;
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    top: 0;
    left: 0;
}

.context-menu {
    font-size: 2rem;
    min-width: max-content;
    width: 16em;
    font-weight: bold;
    position: absolute;
    backdrop-filter: blur(10px);
    color: var(--theme-font-color);
    background-color: var(--theme-bc-3t);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 36px;
    border-radius: var(--cell-border-radius);
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    display: grid;
    grid-template-columns: 4em auto 3em;

    svg {
        font-size: 2rem;
    }

    .context-menu-row {
        display: contents;

        .context-menu-cell {
            height: 2em;
            display: flex;
            transition: color 0.2s;

            .icon-content {
                //height: min-content;
                margin: auto;
            }

            .label-content {
                height: min-content;
                width: 100%;
                margin: auto;
            }
        }

        .left-cell {
            margin-left: 0.5em;
        }

        .right-cell {
            margin-right: 0.5em;

            .icon-content {
                margin-right: 0.5em;
                margin-left: auto;
            }
        }
    }

    .context-menu-row:active {
        .context-menu-cell {
            color: var(--theme-font-color-2);
        }
    }

    .context-menu-row {
        &.has-active-child {
            $cell-background-color: rgba(139, 149, 180, 0.54);

            .left-cell {
                background-color: $cell-background-color;
                border-top-left-radius: var(--cell-border-radius);
                border-bottom-left-radius: var(--cell-border-radius);
            }

            .middle-cell {
                background-color: $cell-background-color;
            }

            .right-cell {
                background-color: $cell-background-color;
                border-top-right-radius: var(--cell-border-radius);
                border-bottom-right-radius: var(--cell-border-radius);
            }
        }
    }

    .context-menu-row:hover {
        .left-cell {
            background-color: var(--cell-hover-bc);
            border-top-left-radius: var(--cell-border-radius);
            border-bottom-left-radius: var(--cell-border-radius);
        }

        .middle-cell {
            background-color: var(--cell-hover-bc);
        }

        .right-cell {
            background-color: var(--cell-hover-bc);
            border-top-right-radius: var(--cell-border-radius);
            border-bottom-right-radius: var(--cell-border-radius);
        }
    }
}
