.config-chooser {
    background-color: transparent;
    transition: background-color 0.1s ease-out;
}

.config-chooser:hover {
    background-color: var(--theme-bc-2);
}

.config-chooser:active {
    background-color: var(--theme-bc-3);
}

.config-chooser-li:hover {
    div {
        background-color: var(--cell-hover-bc);
        color: var(--theme-bc);
    }
}

.config-chooser-li:active {
    div {
        animation: clickedLiDiv 0.1s linear;
    }
}

@keyframes clickedLiDiv {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent;
    }
    50% {
        background-color: var(--cell-hover-bc);
    }
    100% {
        background-color: var(--cell-hover-bc);
    }
}