.config-chooser {
    background-color: transparent;
    transition: background-color 0.1s ease-out;
}

.config-chooser:hover {
    background-color: var(--theme-bc-2);
}

.config-chooser:active {
    background-color: var(--theme-bc-3);
}

.config-chooser-li:hover {
    div:first-child {
        background-color: var(--cell-hover-bc);
        color: white;
    }
}

.config-chooser-li-export:hover {
    color: var(--yellow-color);
}

.config-chooser-li-delete:hover {
    color: var(--red-color);
}

.config-chooser-li:active:first-child {
    animation: clickedLiDiv 0.1s linear;
}

@keyframes clickedLiDiv {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent;
    }
    50% {
        background-color: var(--cell-hover-bc);
    }
    100% {
        background-color: var(--cell-hover-bc);
    }
}