@import '../index.scss';

.sidebar-content {
    li {
        padding: 0.75rem 0;
        text-wrap: nowrap;
        cursor: pointer;
        user-select: none;
        display: grid;
        grid-template-columns: 1.5em 1fr;
    }

    li:hover {
        border-radius: var(--cell-border-radius);
        background-color: var(--cell-hover-background-color);
    }

    li.selected {
        border-radius: var(--cell-border-radius);
        background-color: var(--cell-selected-background-color);
    }
}