:root {
    @media (prefers-color-scheme: dark) {
        --theme-background-color: #1e1e1e;
    }

    @media (prefers-color-scheme: light) {
        --theme-background-color: #e1e1e1;
    }
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    background-color: var(--theme-background-color);
    margin: 0;
    padding: 0;
}
