:root {
    @media (prefers-color-scheme: dark) {
        --theme-bc: #1e1e1e;
    }

    @media (prefers-color-scheme: light) {
        --theme-bc: #e1e1e1;
    }
}

.tab-button-active {
    background-color: var(--theme-bc-l2);
}

.tab-button:hover {
    background-color: var(--theme-bc-l1);
}