@use "sass:map";

$colors: ('primary', 'secondary', 'green', 'yellow', 'purple', 'gray');

$--dark-theme-bc: #000000;
$--dark-theme-bc-2: lighten($--dark-theme-bc, 6);
$--dark-theme-bc-3: lighten($--dark-theme-bc, 10);
$--dark-theme-bc-3t: transparentize(lighten($--dark-theme-bc, 16), 0.5);
$--dark-theme-font-color: #e1e1e1;
$--dark-theme-font-color-2: darken($--dark-theme-font-color, 15);
$--dark-theme-font-color-3: darken($--dark-theme-font-color, 30);
$--dark-primary-color: #6a1b71;
$--dark-primary-color-2: darken($--dark-primary-color, 15);
$--dark-primary-color-3: darken($--dark-primary-color, 30);
$--dark-secondary-color: #FAC8FA;
$--dark-secondary-color-2: darken($--dark-secondary-color, 10);
$--dark-secondary-color-3: darken($--dark-secondary-color, 20);
$--dark-green-color: #58CA13;
$--dark-green-color-2: darken(#58CA13, 5);
$--dark-green-color-3: darken(#58CA13, 10);
$--dark-yellow-color: #CAC713;
$--dark-yellow-color-2: darken(#CAC713, 5);
$--dark-yellow-color-3: darken(#CAC713, 10);
$--dark-purple-color: #9A13CA;
$--dark-purple-color-2: darken(#9A13CA, 5);
$--dark-purple-color-3: darken(#9A13CA, 10);
$--dark-gray-color: #b4b4b4;
$--dark-gray-color-2: darken($--dark-gray-color, 5);
$--dark-gray-color-3: darken($--dark-gray-color, 10);

$--light-theme-bc: #ffffff;
$--light-theme-bc-2: darken($--light-theme-bc, 4);
$--light-theme-bc-3: darken($--light-theme-bc, 8);
$--light-theme-bc-3t: transparentize(darken($--light-theme-bc, 8), 0.5);
$--light-theme-font-color: #1e1e1e;
$--light-theme-font-color-2: lighten($--light-theme-font-color, 15);
$--light-theme-font-color-3: lighten($--light-theme-font-color, 30);
$--light-primary-color: #FAC8FA;
$--light-primary-color-2: darken($--light-primary-color, 15);
$--light-primary-color-3: darken($--light-primary-color, 30);
$--light-secondary-color: #6a1b71;
$--light-secondary-color-2: darken($--light-secondary-color, 15);
$--light-secondary-color-3: darken($--light-secondary-color, 30);
$--light-green-color: #58CA13;
$--light-green-color-2: darken(#58CA13, 5);
$--light-green-color-3: darken(#58CA13, 10);
$--light-yellow-color: #CAC713;
$--light-yellow-color-2: darken(#CAC713, 5);
$--light-yellow-color-3: darken(#CAC713, 10);
$--light-purple-color: #9A13CA;
$--light-purple-color-2: darken(#9A13CA, 5);
$--light-purple-color-3: darken(#9A13CA, 10);
$--light-gray-color: #a2a2a2;
$--light-gray-color-2: darken($--light-gray-color, 5);
$--light-gray-color-3: darken($--light-gray-color, 10);

:root {
    --cell-hover-background-color: rgba(139, 149, 180, 0.20);

    @media (prefers-color-scheme: dark) {
        --theme-bc: #{$--dark-theme-bc};
        --theme-bc-2: #{$--dark-theme-bc-2};
        --theme-bc-3: #{$--dark-theme-bc-3};
        --theme-bc-3t: #{$--dark-theme-bc-3t};
        --theme-font-color: #{$--dark-theme-font-color};
        --theme-font-color-2: #{$--dark-theme-font-color-2};
        --theme-font-color-3: #{$--dark-theme-font-color-3};

        --primary-color: #{$--dark-primary-color};
        --primary-color-2: #{$--dark-primary-color-2};
        --primary-color-3: #{$--dark-primary-color-3};
        --secondary-color: #{$--dark-secondary-color};
        --secondary-color-2: #{$--dark-secondary-color-2};
        --secondary-color-3: #{$--dark-secondary-color-3};
        --green-color: #{$--dark-green-color};
        --green-color-2: #{$--dark-green-color-2};
        --green-color-3: #{$--dark-green-color-3};
        --yellow-color: #{$--dark-yellow-color};
        --yellow-color-2: #{$--dark-yellow-color-2};
        --yellow-color-3: #{$--dark-yellow-color-3};
        --purple-color: #{$--dark-purple-color};
        --purple-color-2: #{$--dark-purple-color-2};
        --purple-color-3: #{$--dark-purple-color-3};
        --gray-color: #{$--dark-gray-color};
        --gray-color-2: #{$--dark-gray-color-2};
        --gray-color-3: #{$--dark-gray-color-3};

        --cell-selected-background-color: rgba(75, 117, 255, 0.4);

        --http-get-bc: #61affe;
        --http-post-bc: #49cc90;
        --http-put-bc: #fca130;
        --http-delete-bc: #f93e3e;
        --http-patch-bc: #50e3c2;
        --http-options-bc: #0d5aa7;
        --http-head-bc: #9012fe;
    }

    @media (prefers-color-scheme: light) {
        --theme-bc: #{$--light-theme-bc};
        --theme-bc-2: #{$--light-theme-bc-2};
        --theme-bc-3: #{$--light-theme-bc-3};
        --theme-bc-3t: #{$--light-theme-bc-3t};
        --theme-font-color: #{$--light-theme-font-color};
        --theme-font-color-2: #{$--light-theme-font-color-2};
        --theme-font-color-3: #{$--light-theme-font-color-3};

        --primary-color: #{$--light-primary-color};
        --primary-color-2: #{$--light-primary-color-2};
        --primary-color-3: #{$--light-primary-color-3};
        --secondary-color: #{$--light-secondary-color};
        --secondary-color-2: #{$--light-secondary-color-2};
        --secondary-color-3: #{$--light-secondary-color-3};
        --green-color: #{$--light-green-color};
        --green-color-2: #{$--light-green-color-2};
        --green-color-3: #{$--light-green-color-3};
        --yellow-color: #{$--light-yellow-color};
        --yellow-color-2: #{$--light-yellow-color-2};
        --yellow-color-3: #{$--light-yellow-color-3};
        --purple-color: #{$--light-purple-color};
        --purple-color-2: #{$--light-purple-color-2};
        --purple-color-3: #{$--light-purple-color-3};
        --gray-color: #{$--light-gray-color};
        --gray-color-2: #{$--light-gray-color-2};
        --gray-color-3: #{$--light-gray-color-3};

        --cell-selected-background-color: rgba(0, 44, 187, 0.2);

        --http-get-bc: #61affe;
        --http-post-bc: #49cc90;
        --http-put-bc: #fca130;
        --http-delete-bc: #f93e3e;
        --http-patch-bc: #50e3c2;
        --http-options-bc: #0d5aa7;
        --http-head-bc: #9012fe;
    }
}
