@use "sass:map";

$--dark-theme-background-color: #000000;
$--dark-theme-background-color-2: lighten($--dark-theme-background-color, 8);
$--dark-theme-background-color-3: lighten($--dark-theme-background-color, 16);
$--dark-theme-font-color: #e1e1e1;
$--dark-primary-color: #6a1b71;
$--dark-primary-color-2: darken($--dark-primary-color, 15);
$--dark-primary-color-3: darken($--dark-primary-color, 30);
$--dark-secondary-color: #FAC8FA;
$--dark-secondary-color-2: darken($--dark-secondary-color, 15);
$--dark-secondary-color-3: darken($--dark-secondary-color, 30);

$--light-theme-background-color: #ffffff;
$--light-theme-background-color-2: darken($--light-theme-background-color, 4);
$--light-theme-background-color-3: darken($--light-theme-background-color, 8);
$--light-theme-font-color: #1e1e1e;
$--light-primary-color: #FAC8FA;
$--light-primary-color-2: darken($--light-primary-color, 15);
$--light-primary-color-3: darken($--light-primary-color, 30);
$--light-secondary-color: #6a1b71;
$--light-secondary-color-2: darken($--light-secondary-color, 15);
$--light-secondary-color-3: darken($--light-secondary-color, 30);

:root {
    @media (prefers-color-scheme: dark) {
        --theme-background-color: #{$--dark-theme-background-color};
        --theme-background-color-2: #{$--dark-theme-background-color-2};
        --theme-background-color-3: #{$--dark-theme-background-color-3};
        --theme-font-color: #{$--dark-theme-font-color};

        --primary-color: #{$--dark-primary-color};
        --primary-color-2: #{$--dark-primary-color-2};
        --primary-color-3: #{$--dark-primary-color-3};
        --secondary-color: #{$--dark-secondary-color};
        --secondary-color-2: #{$--dark-secondary-color-2};
        --secondary-color-3: #{$--dark-secondary-color-3};
    }

    @media (prefers-color-scheme: light) {
        --theme-background-color: #{$--light-theme-background-color};
        --theme-background-color-2: #{$--light-theme-background-color-2};
        --theme-background-color-3: #{$--light-theme-background-color-3};
        --theme-font-color: #{$--light-theme-font-color};

        --primary-color: #{$--light-primary-color};
        --primary-color-2: #{$--light-primary-color-2};
        --primary-color-3: #{$--light-primary-color-3};
        --secondary-color: #{$--light-secondary-color};
        --secondary-color-2: #{$--light-secondary-color-2};
        --secondary-color-3: #{$--light-secondary-color-3};
    }
}
