@use "sass:map";
@import "colors";

:root {
    --sidebar-size-px: 400px;
    --sidebar-content-size: 450px;
    --topbar-size-px: 20px;
    --border-radius: 7px;
    font-size: 6px;
}

$cell-border-radius: 1rem;